.events-cont{
 display: flex;
 justify-content: center;
}
.events{
  display: grid;
  grid-template-columns: 230px 1fr;
  width: 100%;
}
.filters{
  width: 230px;
  background-color:transparent;
  border-right: 1px solid gray;
  height: 88dvh;
}
.events-grid{
  padding: 60px 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 390px);
  justify-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-height: 88dvh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.filter-title{
  padding: 15px;
}

.cat-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cat-form-cont{
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 12px;
}
.input-check{
  display: flex;
  align-items: center;
  gap: 6px;
}